@(page: String)

<!-- Template Javascript Files -->

<!-- modernizr js -->
@scriptAssets("timer/js/vendor/modernizr-2.6.2.min.js")

<!-- jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- owl carouserl js -->
@scriptAssets("timer/js/owl.carousel.min.js")

<!-- bootstrap js -->
@scriptAssets("timer/js/bootstrap.min.js")

<!-- wow js -->
@scriptAssets("timer/js/wow.min.js")

<!-- slider js -->
@scriptAssets("timer/js/slider.js")
@scriptAssets("timer/js/jquery.fancybox.js")

<!-- template main js -->
@scriptAssets("timer/js/main.js")

<!-- custom js -->
@scriptAssets("javascripts/hello.js")