@(page: String)

<!-- ============ About Me - Slider Section Start ============= -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        ABOUT ME
                    </h2>
                    <p>
                        Conferences is a community initiative to support the growth of Scala, Akka, Play & Spark
                        technologies and the ecosystem around it. Conferences was conceptualized and now is supported in
                        part by TéchMónad.
                    </p>
                    <p>
                        Community Initiative by TéchMónad
                    </p>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="@routes.Assets.versioned("timer/images/about/about.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->