@(page: String)

<!-- ================= Conference Section Start ==================== -->
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        Add Conference
                    </h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        Conferences is a community initiative to support the growth of Scala, Akka, Play & Spark
                        technologies and the ecosystem around it. Conferences was conceptualized and now is supported in
                        part by TéchMónad.
                    </p>
                    <div class="contact-form">
                        <form id="contact-form" method="post" action="@routes.ConferenceController.conferenceSubmit()" role="form">

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                <input type="text" placeholder="Conference Name" class="form-control" name="name"
                                       id="name" required />
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                <input type="email" placeholder="Your Email" class="form-control" name="email"
                                       id="email" required />
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                <input type="text" placeholder="Place" class="form-control" name="place"
                                       id="place" required />
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms"
                                         data-wow-delay="1s">
                                        <input type="text" placeholder="Start From" class="form-control" name="from"
                                               id="from" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group wow fadeInDown" data-wow-duration="500ms"
                                         data-wow-delay="1s">
                                        <input type="text" placeholder="End's To" class="form-control" name="to"
                                               id="to" required />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                <textarea rows="6" placeholder="Conference Description" class="form-control"
                                          name="description"
                                          id="description"></textarea>
                            </div>


                            <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                <input type="submit" id="contact-submit" class="btn btn-default btn-send"
                                       value="Add Conference">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map-area">
                    <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Find Us</h2>
                    <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        Si aute quis eu proident o cupidatat ne anim nescius, et est praesentibus, o quorum vidisse
                        expetendis, nostrud eram quibusdam ad nam nostrud ubi.

                    </p>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.277552998015!2d90.3678744!3d23.773128800000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0ae4adf3cb9%3A0x7f2cf443b764e4a4!2sShishu+Mela!5e0!3m2!1sen!2s!4v1435516022247"
                                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>