@(page: String)

<!-- ============== Slider Section Start ============== -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="block wow fadeInUp" data-wow-delay=".3s">

                    <!-- Slider -->
                    <section class="cd-intro">
                        <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                            <span>Organise Your Conferences of </span><br>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">SCALA</b>
                                <b>JAVA 8</b>
                                <b>AKKA</b>
                                <b>PLAY</b>
                                <b>SPARK</b>
                                <b>OTHERS</b>
                            </span>
                        </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                        Conferences is a community initiative to support the growth of Scala, Akka, Play & Spark
                        technologies and the ecosystem around it. Conferences was conceptualized and now is supported in
                        part by TéchMónad.
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"
                       data-wow-delay=".9s" href="#works" data-section="#works">View Conferences</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!--/#main-slider-->