@(page: String, conferences: List[Conference])

<!-- ================= Works - Portfolio Section Start ================== -->
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet
                est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor
                sagittis lacus.
            </p>
        </div>
        <div class="row">

            @conferences.map { conference =>

                @workItems("timer/images/portfolio/item-1.jpg", conference.name, conference.description)

            }

        </div>
    </div>
</section> <!-- #works -->

@workItems(path: String, header: String, desc: String) = {

<div class="col-sm-4 col-xs-12">
    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
        <div class="img-wrapper">
            <img src="@routes.Assets.versioned(path)" class="img-responsive" alt="this is a title">
            <div class="overlay">
                <div class="buttons">
                    <a rel="gallery" class="fancybox" href="@routes.Assets.versioned(path)">Demo</a>
                    <a target="_blank" href="#">Details</a>
                </div>
            </div>
        </div>
        <figcaption>
            <h4>
                <a href="#">@header</a>
            </h4>
            <p>@desc</p>
        </figcaption>
    </figure>
</div>

}