@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

@import template._

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("timer/images/favicon.png")">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @styles(title)

        @scripts(title)

    </head>
    <body>

        @header(title)

        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        @footer(title)

    </body>
</html>
